@font-face {
  font-family: asap;
  src: url(./assets/Asap-Regular.ttf);
}

@font-face {
  font-family: barlow;
  src: url(./assets/BarlowCondensed-SemiBoldItalic.ttf);
}

@font-face {
  font-family: fjalla;
  src: url(./assets/FjallaOne-Regular.ttf);
}

body {
  font-family: asap;
  background-color: rgb(15, 15, 17);
}

.header-img {
  width: 100%;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.select-books {
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-family: barlow;
}

.centered-below {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 25px;
  padding: 0;
}

.book-item {
  background-color: rgba(31, 31, 32, 0.918);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  margin: 25px;
  padding: 10px;
  box-shadow: 5px 3px 10px #36362c75;
  border-top: 20px solid rgba(255, 226, 164, 0.521);
  overflow-wrap: break-word;
}

.book-item img {
  border-radius: 8px;
  width: 80px;
}

.book-item h4 {
  font-family: asap;
  font-size: 16px;
}

h2,
h3,
h4 {
  color: rgb(241, 241, 241);
}

p {
  color: rgb(204, 195, 195);
  font-family: asap;
  font-size: 14px;
}

.book-text {
  text-align: left;
  margin-left: 10px;
}

input {
  width: 20vw;
  padding: 0px 20px;
  height: 40px;
  font-size: 18px;
  color: rgb(212, 212, 212);
  border: solid white 2px;
  border-radius: 3px;
  background: transparent;
  margin-top: 15px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgb(212, 212, 212);
}

.submit-button {
  cursor: pointer;
  border: none;
  height: 44px;
  width: 15vw;
  color: #fff;
  background-color: rgb(20, 20, 31);
  border-radius: 8px;
  margin: 15px;
  font-size: 15px;
  font-weight: bolder;
  font-family: asap;
}

.submit-button:hover {
  background: rgba(0, 0, 0, 0.767);
}

.select-books {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

select {
  height: 25px;
}

.favorite-button {
  border: none;
  text-align: right;
  color: rgb(248, 248, 248);
  background: transparent;
  font-family: asap;
}

.heart-icon {
  font-size: 30px;
  color: rgba(94, 37, 37, 0.842);
  cursor: pointer;
  transition: all linear 0.3s;
}

.heart-icon:hover {
  font-size: 60px;
  color: rgba(173, 25, 25, 0.842);
}

@media only screen and (max-width: 680px) {
  .book-item {
    width: 80%;
  }
  .centered {
    top: 5%;
    font-size: 20px;
  }
}
